@import '~bootstrap/dist/css/bootstrap.min.css';
@import './components/offers-list.scss';
@import './Invoice/style.scss';
@import './components/header.scss';
@import './components/authenticate.scss';

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 70vh;
    overflow: auto;
}

.dropdown-menu {
    left: -50px;
}

.cta {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}