.offers-list {
    .h-50 {
        height: 50%;
        max-height: 50%;
    }

    .card {
        height: 100%;
    }

    .card-body {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* ================== Badge CSS ========================*/
    .app-badge-overlay {
        position: absolute;
        left: 0%;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: 100;
        -webkit-transition: width 1s ease, height 1s ease;
        -moz-transition: width 1s ease, height 1s ease;
        -o-transition: width 1s ease, height 1s ease;
        transition: width 0.4s ease, height 0.4s ease;
        .app-badge {
            margin: 0;
            padding: 0;
            color: white;
            padding: 8px 0;
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            line-height: normal;
            font-weight: 800;
            text-transform: uppercase;
            background: #FE8649;
            &.red {
                background: #FF4D46;
            }

    
            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                margin: 0 -1px;
                width: 100%;
                height: 100%;
                background: inherit;
                min-width: 55px
            }
            
            &::before {
                right: 100%
            }
            
            &::after {
                left: 100%
            }
            &.top-right {
                position: absolute;
                top: 0;
                right: 0;
                -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
                -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
                transform: translateX(30%) translateY(0%) rotate(45deg);
                -ms-transform-origin: top left;
                -webkit-transform-origin: top left;
                transform-origin: top left;
            }
        }
    }
   


}